body {
    background-color: pink;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: purple;
    margin-left: 20px;
  }

  table, th, td {border: 1px solid black;}

  img{border-radius: 50%}